@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body.bg-gray-200 {
    background-color: #f6f8fc !important;
    font-family: 'Montserrat', sans-serif !important;
    line-height: 1.4;
    font-size: 16px;
    color: #111 !important;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: 100%;
}

.navbar-nav .dropdown-menu {
    background-color: transparent;
}

.navbar-nav .dropdown-menu {
    position: static;
    display: none;
}

.navbar-nav .dropdown-menu.show {
    display: block;
    box-shadow: none;
}

.dropdown:not(.dropdown-hover) .dropdown-menu.show {
    margin-top: 0 !important;
}

.navbar-nav .dropdown-menu:before {
    display: none;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    width: auto;
}

.barcode {
    display: inline-block;
    width: 100%;
    max-width: 60px;
}

/* new custom code */
.custom-sidebar {
    background-color: #171829 !important;
}

.navbar-vertical.navbar-expand-xs {
    max-width: 17.5rem !important;
}

.sidenav-header {
    height: auto;
}

.sidenav .navbar-brand {
    padding: 1.6rem 0.7rem;
}

.menu-managament {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.custom-sidebar hr.horizontal.light {
    background-color: #626370;
}

.navbar-vertical .navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15px;
    font-weight: 400;
    margin: 0 !important;
    padding: 0.9rem 1rem !important;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .text-center {
    flex: 0 0 37px !important;
    margin-right: 0 !important;
    text-align: left !important;
}

.navbar-vertical.navbar-expand-xs .dropdown-toggle::after {
    position: absolute !important; 
    right: 17px;
    top: 20px;
}

.navbar-main {
    background-color: #fff;
    padding: 12px 8px !important;
    margin-left: -10px !important;
    margin-right: 0 !important;
    box-shadow: 0 0 20px rgba(89,102,122,0.1) !important;
}

#navbar .input-group .form-control {
    background-color: #f6f8fc;
}

#navbar .input-group .form-label {
    z-index: 5;
}

footer {
    background-color: #fff;
    margin-left: -10px;
    margin-top: 30px;
}

.notification {
    padding-right: 0 !important;
    padding-left: 20px;
}

.user-nav-link .fa {
    font-size: 16px;
    color: #e91e63;
}

.user-nav-link span {
    color: #111;
    font-weight: 400;
}

#sidenav-collapse-main .navbar-nav h6 {
    color: #fff !important;
    font-size: 16px !important;
    opacity: 1 !important;
    text-transform: capitalize !important;
    font-weight: 500 !important;
}

.navbar-vertical .nav-item:hover .nav-link {
    background-color: transparent;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .text-center .fas {
    color: #e91e63;
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item:hover .fas {
    color: #fff;
}

.navbar-vertical .nav-item:hover > .nav-link, .navbar-vertical .nav-link.show {
    background-color: #e91e63;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link.show .text-center .fas {
    color: #fff;
}

.card .card-body {
    font-family: 'Montserrat', sans-serif !important;
}

.card-title {
    position: relative;
}

.card-title:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #e91e63;
    max-width: 60px;
    opacity: 0.5;
    border-radius: 20px;
}

.copyright .fa {
    color: #e91e63;
}

.form-label {
    color: #111;
    font-size:15px;
}

.form-control, .form-control:focus {
    background-color: #f6f8fc;
    border: solid 1px #eee !important;
    padding: 10px 15px !important;
}

.btn {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px;
}

.table tr th {
    color: #111 !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
    opacity: 1 !important;
    font-weight: 600 !important;
}

.table tr td, .table tr td h6 {
    color: #111 !important;
    font-size: 14px !important;
    opacity: 1 !important;
    font-weight: 400 !important;
}

.table tr td a.btn-link, .table tr td .btn-link {
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 0;
    line-height: 26px;
    background-color: #e91e63;
    margin-left: 3px;
    margin-right: 3px;
}

.table tr:nth-of-type(even) {
    background-color: #f6f8fc;
}

.table tr td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pagination {
    margin-top: 20px;
    justify-content: center;
}

.pagination li {
    margin: 0 1px;
}

.nav-pills .nav-item a {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.nav-pills .nav-item a.active .material-icons {
    color: #e91e63;
}

.nav-pills .nav-item a.active span {
    color: #e91e63;
    font-weight: 600;
}


@media (min-width: 1200px) {
    .sidenav.fixed-start + .main-content {
        margin-left: 17.5rem;
        padding-left: 10px;
    }
}

